*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-of-type(1){
    background: chocolate;
}

section:nth-of-type(2){
    background: rgb(30, 210, 195);
}

section:nth-of-type(3){
    background: rgb(210, 30, 30);
}

h1{
    font-size: 4rem;
}