*{
	margin: auto;
	padding: 0;
	font-family: 'Raleway', sans-serif;
    /*background-color: #000;*/
	/*color: #fff;*/ 
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-of-type(1){
    background: black;
   /* background-image: url(../imagens/www_6.png); */
}

section:nth-of-type(2){
    background: black;
}

section:nth-of-type(3){
    background: rgb(55,53,53);
    background: linear-gradient(90deg, rgba(55,53,53,1) 5%, rgba(45,122,193,1) 46%, rgba(119,195,230,1) 85%);
}

section:nth-of-type(4){
    background: rgb(55,53,53);
    background: linear-gradient(90deg, rgba(55,53,53,1) 5%, rgba(45,122,193,1) 46%, rgba(119,195,230,1) 85%);
}

.imgLogo {
    position: relative;
    top: -120px;
    left: 4%;
}

.navbar {
    width: 200%;
	float: right;
	font-size: 20px;
    position: relative;
    top: -290px;
    left: 190%;
}

nav.navbar ul li{
	float: left;
    padding-left: 15%;
	list-style: none;
}

nav.navbar ul li a{
	color: #fff;
	text-decoration: none;
}

nav.navbar ul li a:hover{
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
}

.navTitulo {
    position: relative;
    top: -250px;
    left: 300px;
}

.video {
    position: relative;
    top: 5%;
    right: 11.5%;
}


.informacao {
    position: relative;
    top: -40%;
}









.posicao1 {
    position: relative;
    left: 10%;
    top: -25%;
}

.posicao1:hover {
    background-color: lightblue;  
}

.posicaoImg1 {
    position: relative;
    left: 25%;
}

.posicao2 {
    position: relative;
    left: 20%;
    top: -25%;
}

.posicao2:hover {
    background-color: lightblue;
}

.posicaoImg2 {
    position: relative;
    left: 25%;
}


.posicao3 {
    position: relative;
    left: 30%;
    top: -25%;
}

.posicao3:hover {
    background-color: lightblue;
}

.posicaoImg3 {
    position: relative;
    left: 25%;
}


.posicao4 {
    position: relative;
    right: 36%;
    top: 23%;
}

.posicao4:hover {
    background-color: lightblue;
}

.posicaoImg4 {
    position: relative;
    left: 25%;
}

.posicao5 {
    position: relative;
    right: 24%;
    top: 23%;
}

.posicao5:hover {
    background-color: lightblue;
}

.posicaoImg5 {
    position: relative;
    left: 25%;
}

.equipe {
    position: relative;
    top: -40%;
    left: 5%;
}

.rodape{
	position: relative;
    top: -60px; 
    width: 100%;
	margin-top: 3.1%;
    background-color: black;
    color: white;
}