*{
	margin: auto;
	padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-of-type(1){
    background: #021c3a;
}

section:nth-of-type(2){
    background: #000;
}

section:nth-of-type(3){
    background: #021c3a;
}

section:nth-of-type(4){
    background: #183d57;
}

.imgLogo {
    position: relative;
    top: 0px;
    left: 24%;
}

.navbar {
    width: 200%;
	float: right;
	font-size: 20px;
    position: relative;
    top: -290px;
    left: 190%;
}

nav.navbar ul li{
	float: left;
    padding-left: 15%;
	list-style: none;
}

nav.navbar ul li a{
	color: #fff;
	text-decoration: none;
    padding: 10px
}

nav.navbar ul li a:hover{
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	background: #021c3a;
	}

.navTitulo {
    position: relative;
    top: -250px;
    left: 300px;
}

.video {
    position: relative;
    top: 5%;
    right: 11.5%;
} 

.informacao {
    position: relative;
    top: -40%;
    left: 43%;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.info_do_video{
    font-size: 25px;
    text-align: justify;
    margin-left: 4%;;
    margin-right: 15%;
    border-radius: 40px;
    border: solid #1f506d;
    padding: 5% 10%;
    background-color: #1f506d;
    font-family: 'Quicksand', sans-serif;
}

a:link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.texto1 {
    width: 40%;
    position: relative;
    top: -15%;
    right: 11%;
    color: #fff;
}

.texto2 {
    width:40%;
    position: relative;
    top: -15%;
    right: 5%;
    color: #fff;
}

.posicao1 {
    position: relative;
    left: 10%;
    top: -25%;
    color:#fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.posicao1:hover {
    background: #16334e;
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg1 {
    position: relative;
    left: 25%;
}

.posicao2 {
    position: relative;
    left: 20%;
    top: -25%;
    color:#fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.posicao2:hover {
    background: #16334e;
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg2 {
    position: relative;
    left: 25%;
}

.posicao3 {
    position: relative;
    left: 30%;
    top: -25%;
    color:#fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.posicao3:hover {
    background: #16334e;
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg3 {
    position: relative;
    left: 25%;
}

.posicao4 {
    position: relative;
    right: 28%;
    top: 23%;
    color:#fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.posicao4:hover {
    background: #16334e;
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg4 {
    position: relative;
    left: 25%;
}

.posicao5 {
    position: relative;
    right: 17%;
    top: 23%;
    color:#fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.posicao5:hover {
    background: #16334e;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg5 {
    position: relative;
    left: 25%;
}

.equipe {
    color: #fff;
    width: 100%;
    position: relative;
    top: -40%;
    left: 3%;
}

.rodape{
	position: relative;
    top: -110px; 
    width: 100%;
	margin-top: 3.1%;
    color: white;
    font-family: 'Quicksand', sans-serif;
}